include grader_service/migrate/alembic.ini
include grader_service/handlers/git/hook_templates/*
include grader_service/templates/**/*
include grader_service/static/**/*

include grader_service/convert/templates/**/*
include grader_service/convert/nbgraderformat/*.json
