pytest>=6.2.3
pytest-asyncio>=0.15.1
pytest-cov>=2.12.1
pytest-mock>=3.6.0
pytest-httpserver>=1.0.2
pytest-tornasync>=0.6.0
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
