name: 'grader'
services:

  service:
    build:
      context: ../..
      dockerfile: examples/docker_compose/Dockerfile-Service
    command: bash -c "
        /app/init-db.sh
        && grader-service -f /app/grader_service_config.py
      "
    volumes:
      - ./grader_service_config.py:/app/grader_service_config.py
      - service_dir:/app/service_dir
      - ./init-db.sh:/app/init-db.sh
      - ./data_only.sql:/app/data_only.sql
    environment:
      DATABASE_TYPE: ${DATABASE_TYPE:-sqlite}
      RABBITMQ_GRADER_SERVICE_USERNAME: grader_user
      RABBITMQ_GRADER_SERVICE_PASSWORD: grader_password
    restart: unless-stopped
    depends_on:
      init-volume:
        condition: service_completed_successfully

  hub:
    build:
      context: ../..
      dockerfile: examples/docker_compose/Dockerfile-Hub
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:rw
      - ./jupyterhub_config.py:/app/jupyterhub_config.py
      - ./data-hub:/data
    restart: unless-stopped
    depends_on:
      - service
    ports:
      - "8080:8080"

  rabbitmq:
    image: rabbitmq:latest
    environment:
      RABBITMQ_DEFAULT_VHOST: grader
      RABBITMQ_DEFAULT_USER: grader_user
      RABBITMQ_DEFAULT_PASS: grader_password
    expose:
      - "5672"
    volumes:
      - ./data/rabittmq:/var/lib/rabittmq

  celery-worker:
    build:
      context: ../..
      dockerfile: examples/docker_compose/Dockerfile-Service
    volumes:
      - ./grader_service_config.py:/app/grader_service_config.py
      - service_dir:/app/service_dir
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_GRADER_SERVICE_USERNAME: grader_user
      RABBITMQ_GRADER_SERVICE_PASSWORD: grader_password
      DATABASE_TYPE: ${DATABASE_TYPE:-sqlite}

  init-volume:
    build:
      context: .
      dockerfile: Dockerfile-VolumeInit
    volumes:
      - ./service_dir:/local_service_dir
      - service_dir:/volume_service_dir

volumes:
  jupyterhub-data:
  service_dir:
