services:

  service:
    command: []  # Use the default CMD from Dockerfile-Service, i.e. just apply migrations

  db-init:
    build:
      context: ../..
      dockerfile: examples/docker_compose/Dockerfile-DBInit
    environment:
      PGPASSWORD: postgres
      DATABASE_TYPE: postgres
    volumes:
      - ./grader_service_config.py:/app/grader_service_config.py
      - ./data_only.sql:/app/data_only.sql
      - ./init-db-postgres.sh:/app/init-db-postgres.sh
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres
    restart: unless-stopped
    environment:
      # required for using postgres image
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: grader
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 5s
      retries: 5
