[tool.tbump]
# Uncomment this if your project is hosted on GitHub:
github_url = "https://github.com/TU-Wien-dataLAB/Grader-Service"

[tool.tbump.version]
current = "0.1.18a6"

# Example of a semver regexp.
# Make sure this matches current_version before
# using tbump
regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  \-?
  (?P<pre>((a|b|rc|dev)\d+)?)
  '''

[tool.tbump.git]
message_template = "Bump service to {new_version}"
tag_template = "grader-service-{new_version}"

# For each file to patch, add a [[tool.tbump.file]] config
# section containing the path of the file, relative to the
# pyproject.toml location.

[[tool.tbump.file]]
src = "grader_service/_version.py"
search = "__version__ = '{current_version}'"


[[tool.tbump.file]]
src = "../docs/source/_static/openapi/grader_api.yml"
search = "version: '{current_version}'"

[[tool.tbump.file]]
src = "../charts/grader-service/Chart.yaml"
search = "appVersion: \"{current_version}\""
