
.assignment-header {
  margin-top: 12pt;
  margin-bottom: 8pt;
  margin-right: 16pt;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.assignment-dir-listing {
  margin-bottom: 20px;
  margin-left: 25px;
}

.assignment-title,
.assignment-content,
.assignment-create {
  margin-left: 10pt;
}

.assignment-content {
  padding-bottom: 10pt;
}

.assignment-header:hover .flavor-icon {
  color: var(--accent-color);
}

.assignment-header:first-child {
  margin-top: -5pt;
}

.assignment-title {
  margin-bottom: 5pt;
  user-select: none;
  -webkit-user-select: none;
}

.assignment-title:first-child {
  margin-top: -5pt;
}

.assignment-title:hover .flavor-icon {
  color: var(--accent-color);
}

.list-element, .submission-element  {
  margin-left: 16pt;
  padding-top: 3pt;
  cursor: pointer;
}

.list-element:hover {
  color: var(--accent-color);
  text-decoration: underline; 
}

.list-element:hover .flavor-icon {
  color: var(--accent-color);
}


.collapse-icon-small {
  color: var(--text-color);
  transition: transform .2s cubic-bezier(.4,1,.75,.9), -webkit-transform .2s cubic-bezier(.4,1,.75,.9);
}

.collapse-icon-small-open {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.button-list {
  margin-left: 10%;
}
.add-buttons {
  margin-top: 4pt;
}

.assignment-button,
.assignment-tag {
  min-height: 18px;
  margin-right: 4pt;
  padding: 2pt;
}

.assignment-button span,
.assignment-tag span {
  font-size: 9pt;
}

.assignment-button span svg,
.assignment-tag span svg  {
  width: 9pt;
  height: 9pt;
}
