sphinx
sphinx_book_theme
myst-parser
numpydoc
sphinx_design
ablog
myst_nb
sphinx_examples
sphinx_tabs
sphinx_thebe
sphinx_togglebutton
sphinxcontrib.bibtex
tornado>=6.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
