name: MAIN

on:
  pull_request:
    branches:
      - main
      - release-*
  push:
    tags:
      - grader-service-* # for release_helm action
    branches:
      - main
      - release-*
  release:
    types:
      - published

jobs:
  init:
    runs-on: ubuntu-latest
    outputs:
      changeDirs: ${{ steps.outputStep.outputs.changeDirs }}
    steps:

      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Get changed dirs                  # To check if any files changed in a directory
        id: changeDirsStep
        uses: tj-actions/changed-files@v46
        with:
          dir_names: true  # this only outputs directory names
          files: |
            **/*
            *

      - name: Check if Dockerfile changed
        id: changeDockerfileStep
        uses: tj-actions/changed-files@v46
        with:
          files: Dockerfile


      - id: outputStep
        run: |
          {
            echo "changeDirs=${{ steps.changeDirsStep.outputs.all_changed_files }}";
            echo "changeDockerfile=${{ steps.changeDockerfileStep.outputs.any_changed }}"
          } >> "$GITHUB_OUTPUT"

  # ON CHANGED FILES
  build_grader-service:
    uses: ./.github/workflows/build.yml
    needs: init
    if: |
      contains(needs.init.outputs.changeDirs, 'grader_service') ||
      contains(needs.init.outputs.changeDirs, '.github/workflows') ||
      needs.init.outputs.changeDockerfile == 'true'

  dockerize_grader-service:
    needs: build_grader-service
    uses: ./.github/workflows/docker.yml


  #  docs:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: ./.github/workflows/reusable/build_docs

  # ONLY ON RELEASES
  release_helm:
    needs: init
    # both on grader-service and grader-service-chart release but not automatic helm release
    if: startsWith(github.event.release.tag_name, 'grader-service') && !startsWith(github.event.release.tag_name, 'grader-service-helm')
    uses: ./.github/workflows/publish_helm.yml
    secrets: inherit

  release_grader-service:
    needs: dockerize_grader-service
    # only on grader-service release but on grader-service-chart release nor automatic helm release
    if: startsWith(github.event.release.tag_name, 'grader-service') && !startsWith(github.event.release.tag_name, 'grader-service-chart') && !startsWith(github.event.release.tag_name, 'grader-service-helm')
    uses: ./.github/workflows/publish_service.yml
    secrets: inherit
